/* globals.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.appBar {
  background-color: #b599e0;
  display: flex;
  color: white; /* Change text color to white for better contrast */
  height: 65px; /* Adjust height as needed */
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.loginButton, .signUpButton, .getstartedbutton {
  background-color: #b599e0;
  &:hover {
    background-color: #b599e0;
  }
  color: white;
  text-transform: uppercase;
  margin: 0 10px; /* Add spacing between buttons */
  
}

.getstartedbutton{
  background-color: #802063;
  &:hover {
    background-color: #802063;
  }
  color: white;
  text-transform: uppercase;
  margin: 0 10px; /* Add spacing between buttons */
  
}